<!-- Apps AboutUs Section Start -->
      <div id="AboutUs" class="themeix-screenshots">
         <div class="themeix-screenshots-overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="sec-title p-b-50">
                     <h2>About Red Belts</h2>
                     <p>RedBelts is a specialist Cyber Security Risk Assessment and security consultant organisation. Our principal and proprietary Cyber Security Risk Assessment gives a unique insight into not only an organisation’s cyber threat level but also equally importantly, their current defence level. Our proprietary approach gives a true insight into an organisation’s cyber/privacy exposure. Accompanying our Assessment service is our market leading Virtual CISO and Penetration Testing offerings, giving organisations the capacity to master their cyber risk management, on an ongoing basis.
                      </p>
                      <br>
                      <p> Unlike alternative offerings, RedBelts’ services are not fully automated meaning the substantial expertise of the Redbelt’s team is fully utilised.</p>
                      <br>
                      <br>
                      <h5>Expertise</h5>
                      <p>RedBelts is co-founded by two Cyber Security and Insurance/Law experts.</p>
                      <p>With 15 and 10 years of experience in their respective industries, working with some of the largest organisations within these industries.</p>
                      <p>The RedBelt’s team bring a unique and new approach to Cyber Risk, assessments and services.</p>
                      <br>
                      <br>
                      <h6>The RedBelts’ team brings a unique and new approach to Cyber Risk, assessments and services.</h6>
                  </div>
               </div>
            </div>
          </div>
        </div>
<!-- Apps AboutUs Section End -->
