<!-- Apps Service Section Start -->
      <div id="services" class="service-sec pt-150 pb-120">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="sec-title p-b-50">
                     <h2>Services</h2>
                     <p>Redbelts specialise in providing the below solutions to these exposures.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for service in site.data.services%}
                  <div class="col-md-4 col-sm-4 inner-box">
                     <div class="inner">
                        <div class="themeix-box">
                           <div class="service-icon">
                              <img src="{{service.icon}}" alt="{{service.name}}"/>
                           </div>
                           <div class="service-content">
                              <h2>{{service.name}}</h2>
                              <p>{{service.description}}</p>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <br>
                    <p style="text-align: center">Below outlines RedBelts’ services in greater details</p>
                    <br>
                 <div class="craw-md-10">
                   <div class="container">
                     <img class="container__image" src="/assets/images/banner-img.jpg" align="left" width="100" img style="float: left; padding-right: 50px;" >
                     <div class="container__text">
                       <h6>Third-Party Risk Assessment</h6>
                       <p>RedBelts specialise in two Cyber Security Risk Assessment offerings</p>
                       <br>
                       <p>Specific and tailored to the insurance underwriting industry RedBelts provides assessments specific to Insurer’s underwriting portfolio. These assist in understandinging their client’s threat and defence levels, complimenting their underwriting models and assisting in understand their portfolio exposures in greater detail. The Assessment provides insights that are immediately actionable which will reduce an Insured’s probability of a loss event.
                       Our Assessment’s allow Underwriters and Actuaries to:</p>
                       <p> - Provide information on areas of risk and exposure that an insured can identify and improve upon, mitigating the potential risk/exposure to an insured’s overall book and improve profitability.</p>
                       <p> - Provide additional insight into the potential likelihood of loss.</p>
                       <p> - Measure and Benchmark risks in a consistent and objective manner.</p>
                       <p>Direct to organisations our assessments allow organisations to gain a better understanding, of their Cyber Defence and Threat levels and directly mitigate these Cyber risks and exposures.</p>
                       <br clear="left">
                       <br>
                     <img class="container__image" src="/assets/images/banner-img.jpg" align="right" width="150" img style="float: right; padding-left: 50px;" >
                     <div class="container__text">
                       <h6 style="text-align: right"> Penetration Testing</h6>
                       <p style="text-align: right"> RedBelts’ specialise in the Penetration Testing of Cloud Infrastructure, System, Web and Mobile application to identify vulnerabilities that could allow adversaries access to your systems and data.</p>
                       <p style="text-align: right"> Our security experts use a combination of manual and automated techniques to find weaknesses. Once identified, the pentester will attempt to exploit the vulnerabilities to see what additional access, information and privileges can be gained.</p>
                     </div>
                       <br>
                       <img class="container__image" src="/assets/images/banner-img.jpg" align="left" width="190" img style="float: left; padding-right: 50px;" >
                       <div class="container__text">
                        <h6>Virtual CISO (vCISO)</h6>
                        <p>Our virtual Chief Information Security Officer service tiered offering is designed to provide frameworks and dashboards to organisations who need security expertise and guidance. </p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                       </div>
                   </div>

            </div>
         </div>
      </div>
      <!-- Apps Service Section End -->
