<!-- Apps AboutUs Section Start -->
      <div id="AboutUs" class="themeix-screenshots">
         <div class="themeix-screenshots-overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="sec-title p-b-50">
                     <h2>About Red Belts</h2>
                     <p>RedBelts is a specialist Cyber Security Risk Assessment group.
                      Our proprietary approach gives a unique insight into not only an organisation’s cyber threat level but also equally importantly, their current defence level.
                      Our proprietary approach gives a true insight into an organisation’s cyber/privacy exposure.
                      Unlike alternative offerings, RedBelts’ assessments are not fully automated and show the full value as well as importance of a personalized assessment.
                      </p>
                      <br>
                      <br>
                      <h5>RedBelts specialize in two offerings</h5>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-1"></div>
               <div class="col-md-10">

              <div class="craw-md-10">
                <div class="container">
                  <img class="container__image" src="/assets/images/banner-img.jpg" align="left" width="400" img style="float: left; padding-right: 50px;" >
                  <div class="container__text">
                    <p>Specific and tailored to the insurance underwriting industry RedBelts provides assessments specific to Insurer’s underwriting portfolio. These assist in understanding their client’s threat and defence levels, complimenting their underwriting models and assisting in understand their portfolio exposures in greater detail; Our Assessment’s allow Underwriters and Actuaries to:</p>
                      <p> - Provide information on areas of risk and exposure that an insured can identify and improve upon, mitigating the potential risk/exposure to an insured’s overall book and improve profitablility.</p>
                      <p> - Provide additional insight into the potential likelihood of loss.</p>
                      <p> - Measure and Benchmark risks in a consistent and objective manner.</p>
                    <br clear="left">
                    <br>
                    <br>
                  <img class="container__image" src="/assets/images/banner-img.jpg" align="right" width="300" img style="float: right; padding-left: 50px;" >
                  <div class="container__text">
                    <p style="text-align:right"> Direct to organisations, who want to gain a better understanding, and directly mitigate their risk and exposure.</p>
                  </div>
                </div>

               </div>
               <div class="col-md-1"></div>
            </div>
         </div>
      </div>
      </div>
      </div>
     <!-- Apps AboutUs Section End -->
