<!-- Apps Service Section Start -->
      <div id="services" class="service-sec pt-150 pb-120">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="sec-title p-b-50">
                     <h2>Services</h2>
                     <p>Redbelts specialise in providing the below solutions to these exposures.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for service in site.data.services%}
                  <div class="col-md-4 col-sm-4 inner-box">
                     <div class="inner">
                        <div class="themeix-box">
                           <div class="service-icon">
                              <img src="{{service.icon}}" alt="{{service.name}}"/>
                           </div>
                           <div class="service-content">
                              <h2>{{service.name}}</h2>
                              <p>{{service.description}}</p>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">

                 <div class="craw-md-10">
                   <div class="container">
                     <img class="container__image" src="/assets/images/3p2.jpg" align="left" width="500" img style="float: left; padding-right: 50px;" >
                     <div class="container__text">
                       <h6>Third-Party Risk Assessment</h6>
                       <p>A weak Supply Chain leads to cyber attacks, business interruption and data breaches. If you have technology in your environment, there is a chance that the people that make that technology themselves may be compromised, and you then may be attacked through that channel. Nearly two-thirds (64%) of companies believe the ransomware gang got into their network via one of their suppliers or business partners. (source: Cybereason Ransomware Attacks and the True Cost to Business 2022)</p>
                       <p>Organisations need to be more aware of their blind spots when it comes to supply chain risk. What permissions do these third parties have, how seriously do they take their own cyber security, what if the provider is compromised, what contractual exposure or recourse do you have? When it comes to managing this risk from your supply chain, vendors or from your technology suppliers, organisations can only truly understand this exposure through independent risk assessment.</p>
                       <p>RedBelt's specialise in assessing the exposure your vendors and supply chain partners bring to your organisation,ensuring you have a better understanding of your supply chain, interdependencies and exposures. Addressing both Threat and Defence levels gives a holistic and unparalleled insight into these exposures.</p>
                       <b>Threat Level Assessment</b>
                       <p>Measures an organisation’s risk level by revealing the entire external attack surface, reviewing and analysing threat intelligence including any unknown past breach history. RedBelt’s threat assessment is a real “eye-opener”, giving detailed insights into an organisation’s exposures.</p>
                       <b>Defence Level Assessment</b>
                       <p>Measures an organisation’s protection capability as well as their cyber risk resilience.</p>
                       <p>Redbelt’s Assessment is performed on a combined automated and manual basis importantly meaning the impact of exposures are taken into consideration.</p>
                       <p>Our Third Party assessment allows you to onboard partners with knowledge, and arms you with the information to mitigate and protect your organisation from these exposures.</p>
                       <br clear="left">
                       <br>
                     <img class="container__image" src="/assets/images/hacker.jpg" align="right" width="500" img style="float: right; padding-left: 50px;" >
                     <div class="container__text">
                       <h6 style="text-align: right"> Penetration Testing</h6>
                       <p style="text-align: right"> Our process involves identifying vulnerabilities and weaknesses within an organisation's website and/or application. We assess gaps between implemented practices against industry security baselines through a suite of manual and automated testing and assessment techniques.</p>
                       <p style="text-align: right"> At the conclusion of the service, RedBelts provide organisations with a report containing details of the identified technical vulnerabilities, the business risks and associated risk remediation recommendations. The report will also contain an executive summary detailing an overview of the conducted services and overall risk levels.</p>
                     </div>
                       <br>
                       <br>
                       <br>
                       <img class="container__image" src="/assets/images/vc2.jpg" align="left" width="500" img style="float: left; padding-right: 50px;" >
                       <div class="container__text">
                        <h6>Virtual CISO (vCISO)</h6>
                        <p>Our qualified Chief Information Security Officer (CISO) assists organisations help to meet their security needs and heighten the effectiveness of your information security posture.</p>

					         <p>RedBelts will drive your program by aligning security best practices to support business objectives and develop a mature and effective Governance, Risk and Compliance (GRC) programme, increasing security maturity to achieve business goals.</p>

					         <p>RedBelts’ CISO On Demand will assist you with:</p>
    				         <p> - Cyber security strategy</p>
    				         <p> - Compliance advisory services</p>
    				         <p> - Ongoing security concerns</p>
    				         <p> - Urgent security events</p>
    				         <p> - Internal projects</p>
    				         <p> - Continual improvement</p>
    				         <p> - Insights on new trends and updates on remediation actions</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                       </div>
                   </div>

            </div>
         </div>
      </div>
      <!-- Apps Service Section End -->
