<!-- Apps AboutUs Section Start -->
      <div id="AboutUs" class="themeix-screenshots">
         <div class="themeix-screenshots-overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="sec-title p-b-50">
                     <h2>About Us</h2>
                     <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  and typesetting.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-1"></div>
               <div class="col-md-10">


              <div class="craw-md-10">
                <div class="container">
                  <img class="container__image" src="/assets/images/banner-img.jpg" align="left" width="300" img style="float: left; padding-right: 100px;" >
                  <div class="container__text">
                    <h5>Why Do Cats Like Boxes?</h5>
                    <p>"Cats like boxes because they are cryptic animals; they like to hide," Stephen Zawistowski, science adviser for the American Society for the Prevention of Cruelty to Animals, told Business Insider. "And a box gives them a place of safety and security."</p>
                    <p>While inside a box, cats feel that they cannot be snuck up on from behind or the side — anything that wants to approach them must come directly into their field of vision. In effect, such hiding spaces allow them to watch the world around them without being seen.</p>
                    <br clear="left">
                    <br>
                    The text aligns to the top of the image.
                  </div>
                </div>
              </div>



               </div>
               <div class="col-md-1"></div>
            </div>
         </div>
      </div>
     <!-- Apps AboutUs Section End -->
