<!-- download-area -->
<section id="download" class="download-area download-bg pt-120 pb-130" style="background-image:url(/assets/img/bg/download-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center">
                <div class="section-title download-title mb-35">
                    <h1>Download This App Today</h1>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco
                        laboris</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 text-center">
                <div class="get-app">
                    <a href="#">
                        <i class="ti-android"></i>
                        <p>avaliable on <br> <b>Google Store</b></p>
                    </a>
                    <a href="#">
                        <i class="ti-apple"></i>
                        <p>avaliable on <br> <b>Apple Store</b></p>
                    </a>
                    <a href="#">
                        <i class="ti-microsoft-alt"></i>
                        <p>avaliable on <br> <b>Windows</b></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- download-area-end -->