<section class="app-features features-bg pt-120 pb-110 wow fadeInUp" data-wow-delay="0.3s" style="background-image:url(/assets/img/features/features-bg.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
                <div class="section-title mb-90">
                    <h1>App Features</h1>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and pain was born
                        and I will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="app-img wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="/assets/img/features/features-app.png" alt="">
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="app-details">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-features-wrap mb-55 wow fadeInUp" data-wow-delay="0.2s">
                                <h4>User Friendly</h4>
                                <p>But I must explain to you how all this mistak enidea of denouncing pleasure and
                                    praising pain was born and I will give you a complet,</p>
                            </div>
                            <div class="single-features-wrap mb-55 wow fadeInUp" data-wow-delay="0.4s">
                                <h4>Unlimited Features</h4>
                                <p>But I must explain to you how all this mistak enidea of denouncing pleasure and
                                    praising pain was born and I will give you a complet,</p>
                            </div>
                            <div class="single-features-wrap mb-55 wow fadeInUp" data-wow-delay="0.6s">
                                <h4>Unique Design</h4>
                                <p>But I must explain to you how all this mistak enidea of denouncing pleasure and
                                    praising pain was born and I will give you a complet,</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-features-wrap mb-55 wow fadeInUp" data-wow-delay="0.2s">
                                <h4>Easy Editable</h4>
                                <p>But I must explain to you how all this mistak enidea of denouncing pleasure and
                                    praising pain was born and I will give you a complet,</p>
                            </div>
                            <div class="single-features-wrap mb-55 wow fadeInUp" data-wow-delay="0.4s">
                                <h4>Responsive Design</h4>
                                <p>But I must explain to you how all this mistak enidea of denouncing pleasure and
                                    praising pain was born and I will give you a complet,</p>
                            </div>
                            <div class="single-features-wrap mb-55 wow fadeInUp" data-wow-delay="0.6s">
                                <h4>Updates & Security</h4>
                                <p>But I must explain to you how all this mistak enidea of denouncing pleasure and
                                    praising pain was born and I will give you a complet,</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>