<!-- pricing-area -->
<section id="pricing" class="pricing-area pt-120 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
                <div class="section-title mb-55">
                    <h1>App Pricing Plan</h1>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and pain was born
                        and I will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-box text-center mb-30 wow fadeIn" data-wow-delay=".2s">
                    <div class="price-head">
                        <h2>Basic</h2>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>500GB Bandwidth</li>
                            <li>Health & Yoga Analysing</li>
                            <li>24 hour support</li>
                            <li>Customer Managemet</li>
                        </ul>
                    </div>
                    <div class="price-count">
                        <h1>$19.99</h1>
                    </div>
                    <div class="price-btn">
                        <a class="btn price-btn" href="#">purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-box gradient-bg mb-30 text-center wow fadeIn" data-wow-delay=".4s">
                    <div class="price-head gradient-head">
                        <h2>Standard</h2>
                    </div>
                    <div class="price-list gradient-list">
                        <ul>
                            <li>500GB Bandwidth</li>
                            <li>Health & Yoga Analysing</li>
                            <li>24 hour support</li>
                            <li>Customer Managemet</li>
                        </ul>
                    </div>
                    <div class="price-count gradient-price">
                        <h1>$49.99</h1>
                    </div>
                    <div class="price-btn gradient-btn">
                        <a class="btn price-btn" href="#">purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-box text-center mb-30 wow fadeIn" data-wow-delay=".6s">
                    <div class="price-head">
                        <h2>Premium</h2>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>500GB Bandwidth</li>
                            <li>Health & Yoga Analysing</li>
                            <li>24 hour support</li>
                            <li>Customer Managemet</li>
                        </ul>
                    </div>
                    <div class="price-count">
                        <h1>$59.99</h1>
                    </div>
                    <div class="price-btn">
                        <a class="btn price-btn" href="#">purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing-area-end -->