<!-- app-screenshot-area -->
<section id="screesnshot" class="screenshot-area pl-150 pr-150 pt-120 pb-130 wow fadeInUp" data-wow-delay=".2s">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
                <div class="section-title mb-55">
                    <h1>App Screenshot</h1>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and pain was born
                        and I will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="app-active">
            <div class="app-item">
                <a href="/assets/img/screenshot/01.jpg" class="popup-image"><img src="/assets/img/screenshot/01.jpg" alt=""></a>
            </div>
            <div class="app-item">
                <a href="/assets/img/screenshot/02.jpg" class="popup-image"><img src="/assets/img/screenshot/02.jpg" alt=""></a>
            </div>
            <div class="app-item">
                <a href="/assets/img/screenshot/03.jpg" class="popup-image"><img src="/assets/img/screenshot/03.jpg" alt=""></a>
            </div>
            <div class="app-item">
                <a href="/assets/img/screenshot/03.jpg" class="popup-image"><img src="/assets/img/screenshot/03.jpg" alt=""></a>
            </div>
            <div class="app-item">
                <a href="/assets/img/screenshot/04.jpg" class="popup-image"><img src="/assets/img/screenshot/04.jpg" alt=""></a>
            </div>
            <div class="app-item">
                <a href="/assets/img/screenshot/05.jpg" class="popup-image"><img src="/assets/img/screenshot/05.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- app-screenshot-end -->