<!-- slider-area -->
<section id="home" class="slider-area bg-image" style="background-image:url(/assets/img/slider/home.png)">
    <div class="slider-active">
        <div class="single-slider">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8">
                        <div class="slider-content">
                            <h1 data-animation="fadeInLeft" data-delay=".2s">Best App Landing For Your Business</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">But I must explain to you how all this
                                mistaken idea of denouncing pleasure and praising pain was born and I will give.</p>
                            <div class="slider-btn">
                                <a class="btn download-btn" href="#" data-animation="fadeInUp" data-delay=".6s">Download</a>
                                <a class="btn purchase-btn" href="#" data-animation="fadeInUp" data-delay=".8s">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 d-none d-xl-block">
                        <div class="slider-app" data-animation="fadeInRight" data-delay=".8s">
                            <img src="/assets/img/slider/slider-app.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider-area-end -->