<!-- app-statistics-area -->
<section class="app-statistics-area pt-120 pb-95 statistics-bg" style="background-image:url(/assets/img/bg/st01.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
                <div class="section-title white-title mb-55">
                    <h1>App Statistics</h1>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and pain was born
                        and I will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="single-statis mb-30 wow fadeInUp"  data-wow-delay=".2s">
                    <h1>1M</h1>
                    <span>Downloads</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="single-statis mb-30 wow fadeInUp"  data-wow-delay=".4s">
                    <h1>5M</h1>
                    <span>Satisfied User</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="single-statis mb-30 wow fadeInUp"  data-wow-delay=".6s">
                    <h1>50K</h1>
                    <span>Star Reviewss</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="single-statis mb-30 wow fadeInUp"  data-wow-delay=".8s">
                    <h1>33K</h1>
                    <span>Social Sharings</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- app-statistics-end -->