<!-- testimonial-area -->
<section id="reviews" class="testimonial-area testimonial-bg pt-120 pb-120 wow fadeInUp" data-wow-delay=".2s" style="background-image:url(/assets/img/bg/testi-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
                <div class="section-title mb-40">
                    <h1>Client Say</h1>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and pain was born
                        and I will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 text-center">
                <div class="testimonial-active">
                    <div class="testimonial-item">
                        <div class="inner-testimonial">
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium totam
                                aperiam eaque ipsa nostrum exercitationem ullam</p>
                            <div class="testimonial-author">
                                <img src="/assets/img/testimonial/01.png" alt="">
                                <div class="author-info">
                                    <h4>Jhonathan Doe</h4>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="inner-testimonial">
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium totam
                                aperiam eaque ipsa nostrum exercitationem ullam</p>
                            <div class="testimonial-author">
                                <img src="/assets/img/testimonial/01.png" alt="">
                                <div class="author-info">
                                    <h4>Jhonathan Doe</h4>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-area-end -->